[2012-02-21 19:08] Jaconil opened #1 "Trouver un meilleur nom"
projetBomberman, c'est pas top...

[2012-02-21 19:10] siwon commented on #1
Genre "si ju va bien, c'est juconil ?"

[2012-02-21 19:36] #1 closed, assigned to siwon

[2012-03-04 20:38] siwon opened #2 "Amélioration"
Peut-on imaginer de faire exploser les bonus ? Et genre ça fait une autre explosion sur n cases ...

[2012-03-07 19:54] #2 closed, assigned to nobody

[2012-03-10 11:59] siwon opened #3 "Test de recette"
Il faudrait faire rapidement les test de recette. Le truc c'est que je ne vois pas comment on pourrait présenter ça, ni même le contenu d'ailleurs...

[2012-03-10 12:24] Jaconil commented on #3
Je finis de corriger le CdC et je viendrai t'aider à le faire après mon rdv.
Il ne doit pas être très long, 2 pages suffiront à mon avis...

[2012-03-10 12:27] Jaconil opened #4 "Ambiguités Règles du jeu"
En relisant ta partie Simon j'ai relevé plusieurs ambiguités, ou trucs que tu as oublié de dire.
Je push, je reviens dans 1h et on règle ça ?

Faut aussi réfélchir aux probas des bonus, je ferai le tableau tt à l'heure.

[2012-03-10 12:53] siwon commented on #4
Ok, pas de problème !

[2012-03-10 14:12] #4 closed, assigned to nobody

[2012-03-10 14:16] Jaconil opened #5 "Détonateur (pour Bibizz et Brice)"
Dilemme entre Simon et moi concernant le bonus "Détonateur"  qui permet de faire exploser toutes ses bombes en même temps en appuyant sur Action2.

En gros la question c'est : Faut-il rendre ce bonus permanent ou non ?

**Point de vue de Simon :**

Soit ce bonus est permanent, c'est à dire qu'une fois acquis on garde toujours le détonateur et qu'il faut toujours appuyer sur Action2 pour faire expl

[2012-03-10 14:29] siwon commented on #5
Pour résumer mon avis, la grosse différence selon moi est là suivante :
- Soit c'est une bombe télécommandée : il y a donc un usage unique à la bombe,
- Soit c'est une télécommande : il y a donc un usage permanent.

[2012-03-10 16:20] Guillermicb commented on #5
Pour moi, usage permanent et faible quantité :) C'est un avantage mais ça devient très tactique et c'est pas toujours évident. Et puis on peut aussi se faire péter la gueule

[2012-03-10 17:20] Jaconil commented on #5
Ok pour ça alors...

Du coup pour les mines on fait comment ?
Obligé de poser la mine avant de poser une autre bombe ?

[2012-03-10 17:21] siwon commented on #5
Oui.
Par contre, le détonateur il déclenche les mines aussi ou pas ?

[2012-03-10 17:22] Jaconil commented on #5
Non

[2012-03-10 18:09] abisiaux commented on #5
Usage permanent pour moi aussi dsl les gars j'étais très occupé aujourd'hui... Faut surtout mettre une faible proba pour ce bonus car la partie peut très vite se terminer sinon.
Le détonateur ne déclenche que les bombes et non les mines. Les mines ne pètent que lorsqu'on passe dessus.

[2012-03-10 18:40] siwon commented on #5
Tkt on a la réponse de tout le monde, ça nous va ;)
Sinon pour les pourcentages, ils sont tous enregistrés.

[2012-03-10 18:40] #5 closed, assigned to nobody

[2012-03-10 23:18] siwon opened #6 "Dates à définir"
Il faut définir les dates suivantes :
- Date de rencontre avec le client
- Date prévue pour une réunion du groupe pour la conception générale du système
- Date prévue de rendu de la fiche 3

Donc donnez moi votre avis.

[2012-03-11 00:37] Jaconil opened #7 "Titre cahier des charges"
J'ai modifié le titre du cahier des charges en rajoutant "Fonctionnel" pour le différencier du Cahier des charges technique qu'on aura aussi à faire...

Mais du coup ça merde pour l'alignement du titre. Donc je sais pas trop, soit on le met en sous-titre plutôt, sur 2 lignes peut-être.

[2012-03-11 00:51] Jaconil commented on #3
Avant de modifier, voici ce que j'aurais modifié :

Tests réseau :

un seul test suffit (2 ou 4 ordis)

Tests graphiques :

OK

Tests des contrôleurs :

pour le clavier : un seul test
OK pour le reste

Jouabilité :

Testable sur le test du clavier ou de l'interface graphique non ?

Conclusion :

Dire que le client pourra demander tout test supplémentaire

[2012-03-11 10:51] abisiaux commented on #6
Date de rencontre avec le client c'est la date à laquelle on a vu le prof, il y a juste deux dates à définir, pour la fiche 3 il y a pas mal de boulot à faire à ce que j'ai lu donc il serait préférable de se laisser au moins 2 semaines pour faire toute la modélisation. Pour la réunion de groupe on peut donner une date bidon de toute façon on va bosser tout au long de la semaine et surtout durant l

[2012-03-11 11:05] abisiaux commented on #7
C'est corrigé!

[2012-03-11 11:05] #7 closed, assigned to abisiaux

[2012-03-11 11:30] Jaconil commented on #6
23 mars c'est bcp trop tôt bibizz...
regarde là pour le CDCF on a déjà passé 2 semaines alors que c'était simple.

Là il faut faire TOUTE la modélisation, faut repousser à début avril. (surtout qu'on a exam d'optimisation, c++, géo algo)

[2012-03-11 11:38] siwon commented on #6
13 avril ?

[2012-03-11 11:39] Jaconil commented on #6
Juste avant les vacs.
Ok pour moi.

[2012-03-11 11:40] abisiaux commented on #6
ok pour le 13 avril c'est vrai qu'on a beaucoup d'examens .

[2012-03-11 14:56] siwon opened #8 "URGENT : Modification CdC"
Je propose une modification concernant la durée de la mèche. Passer au moins de 2 à 3 secondes puisque si les bonus s'accumulent (genre explosion en 8 connexité + longue portée) le mec dès qu'il va poser une bombe il va se tuer ...

D'accord oui ou non ?

[2012-03-11 14:57] Jaconil commented on #8
d'accord pour 3 secondes

[2012-03-11 15:11] abisiaux commented on #8
3 secondes le temps de bien s'arracher le cul de là

[2012-03-11 15:15] siwon commented on #8
Bon on part sur 3 secondes !

@Guillermicb : si tu as une objection tu rouvres ce topic avant ce soir !

[2012-03-11 15:15] #8 closed, assigned to nobody

[2012-03-11 15:24] siwon commented on #6
Reste celle-ci : Date prévue pour une réunion du groupe pour la conception générale du système

Je ne sais pas trop à quoi elle correspond par contre ...

[2012-03-11 15:43] siwon commented on #3
Tests réseau :
un seul test suffit (2 ou 4 ordis)

Tests graphiques :
OK

Tests des contrôleurs :
pour le clavier : un seul test ==> CORRIGÉ
OK pour le reste

Jouabilité :
Testable sur le test du clavier ou de l'interface graphique non ? => Oui je suis d'accord avec toi mais le truc c'est qu'on effectuera pas forcément tous les tests, on dit juste ceux qui doivent être satisfait afin de déterminer

[2012-03-11 16:07] siwon commented on #3
D'autres commentaires ? Perso je ne vois pas trop quoi rajouter ...

[2012-03-16 09:46] #3 closed, assigned to nobody

[2012-03-16 09:46] #6 closed, assigned to nobody

[2012-03-19 13:56] siwon opened #9 "Changement dans le cahier des charges"
Un changement est effectué : lorsque le bomberman pose une bombe, il l'a pose sur sa case. Il devra ensuite se déplacer. Il faut donc changer le rapport en conséquence.

[2012-04-05 08:28] #9 closed, assigned to nobody

[2012-04-30 16:47] Jaconil opened #10 "Répartition"
Je suis en train de faire le diagramme de Gantt là, mais comment on se répartit les modules et la doc à faire ?

On a :
- Contrôleurs : Bibiz
- Menu : Max
- Interface : Max
- Réseau : Brice
- Moteur : Simon
- Son : ?
- Skin : ?
- Configuration : ?

Intégration : Tous ?
Manuel d'installation : Bibiz
Manuel d'utilisation : Simon
Tests de de pré-livraison : Tous ?

[2012-04-30 17:14] abisiaux commented on #10
Le 30/04/2012 18:47, GUIHAL Maxime a écrit :

[2012-04-30 17:24] Jaconil commented on #10
Skin c'est le module de chargement d'images en fonction du skin choisi (cf : Cahier des charges si tu veux savoir)

[2012-04-30 17:25] Jaconil commented on #10
et OK pour le manuel

[2012-04-30 17:43] siwon commented on #10
Je veux bien faire le manuel d'utilisation si tu veux. Par contre, pour l'intégration et les tests de pré-livraison, ce ne sera pas tout le monde ?

[2012-05-05 10:46] siwon commented on #10
O_O Je n'arrive pas à croire que binôme ai accepté les noms de variables avec des pluriels ... Je pense que c'est encore un signe que c'est le début de la fin de notre binômat, parce que moi ça passe pas, par contre avec maxime ça passe ...

Tkt binôme, je comprend ...

[2012-05-05 15:49] siwon opened #11 "méthode movePlayer(...)"
Il manquerait pas par hasard un mouvement dans la méthode movePlayer(Player player) de GameEngineManager sur la modélisation ???? (page 21 du rapport)

[2012-05-05 18:00] abisiaux opened #12 "Version de la SFML"
C'est SFML 1.6 OU 2.0 qu'il faut utiliser ?

Car dans la 2.0, pour gérer le clavier je n'aurais pas besoin du sf::RenderWindow idem pour le joystick...

[2012-05-05 18:04] Jaconil commented on #12
La version stable actuelle est la 1.6.

Je vais tenter de regarder les nouveautés de la version 2 ce soir, quand j'aurai fini XML.

[2012-05-05 18:08] abisiaux commented on #12
Je continu sur la 2.0 car elle est beaucoup plus simple à utiliser

[2012-05-05 23:03] Jaconil commented on #12
OK pour la version 2.0. Elle est en effet meilleure. Par contre va falloir bien gérer les installs pour les makefile :/

[2012-05-06 00:10] Jaconil commented on #12
Cela dit, je sais pas si c'est une bonne idée, la version à installer ne marche pas chez moi, j'ai recompilé la SFML, mais il trouve pas mes bibliothèques maintenant...

[2012-05-06 08:22] abisiaux commented on #12
J'ai suivi ce tuto pour recompiler la SFML http://sfmlcoder.wordpress.com/2011/08/16/building-sfml-2-0-with-make-for-gcc/
Tout marche nickel mais attention certains noms de fonctions ont changé comme IsOpened est devenue isOpened => voir la doc sfml2.0

[2012-05-06 08:35] Jaconil commented on #12
Oui, sinon il y a ça : http://www.sfml-dev.org/tutorials/2.0/compile-with-cmake.php
Par contre va falloir compiler la SFML sur chaque ordi sur lequel on veut tester le programme ? Ça va être chiant non ?

[2012-05-06 08:36] abisiaux commented on #12
J'ai remarqué aussi un bug au niveau des enum car les valeurs UP, DOWN, LEFT et RIGHT sont contenues dans deux enums différents (EGameKeys et EMenuKeys) et ça ne passe pas au compilateur : UP déjà défini dans ... J'ai pour l'instant modifié EMenuKeys en UP_MENU,...

[2012-05-06 08:45] abisiaux commented on #12
Oui je pense qu'il va falloir recompiler la SFML sur les différents ordi mais bon on peut faire un script shell pour ça. Mais bon la 2.0 facilite pas mal de choses...

[2012-05-06 14:21] #12 closed, assigned to nobody

[2012-05-06 14:23] abisiaux opened #13 "Fichier de configuration"
Je vois pas sous quelle forme stocker la configuration des joueurs sachant qu'il faut stocker le numéro du joueur, le type de contrôleur utilisé, l'action et la touche correspondante et tout ça sous forme de clé : valeur !

[2012-05-06 14:27] Jaconil commented on #13
controller.player1.type: keyboard
controller.player1.up: 62 (le numéro de la touche)
...
controller.player2.type: gamepad
controller.player2.up: y-axis1 (enfin un mot-clé que tu interprètes après... genre x-axis, y-axis, button1, ou un numéro de bouton, etc...)

idem pour la wii

[2012-05-06 14:31] abisiaux commented on #13
ok merci

[2012-05-06 14:31] #13 closed, assigned to nobody

[2012-05-06 15:08] abisiaux commented on #13
Autre petit question :

Pourquoi ConfigFileManager n'est pas un singleton car il n'y a qu'un seul fichier de config ?

[2012-05-06 15:10] Jaconil commented on #13
non, il y a un fichier de configuration général, plus un fichier de conf par skin. C'est pour ça que je l'ai pas mis en singleton il me semble, et que j'ai mis le chemin d'accès en paramètre optionnel au constructeur (d'ailleurs avec le singleton on peut pas mettre de paramètre au constructeur).

[2012-05-06 15:11] abisiaux commented on #13
Le 06/05/2012 17:10, GUIHAL Maxime a écrit :

[2012-05-06 15:16] abisiaux commented on #13
Le 06/05/2012 17:10, GUIHAL Maxime a écrit :

[2012-05-06 15:18] Jaconil commented on #13
Non ça n'existe pas ^^
C'était pour forcer la classe fille à implémenter un constructeur avec un argument, mais on peut pas je crois, il faudra modifier...

[2012-05-06 15:19] abisiaux commented on #13
Le 06/05/2012 17:18, GUIHAL Maxime a écrit :

[2012-05-06 15:21] Jaconil commented on #13
Paramètre optionnel hein, si on met rien ça redirige vers le fichier de conf principal ;)

[2012-05-06 15:22] abisiaux commented on #13
Le 06/05/2012 17:21, GUIHAL Maxime a écrit :

[2012-05-06 15:38] abisiaux commented on #13
Le 06/05/2012 17:21, GUIHAL Maxime a écrit :

[2012-05-06 15:40] Jaconil commented on #13
Oui non excuse c'est en java que ça passe, mais surcharge le constructeur. Fais en un sans paramètres, et l'autre avec un ;)

[2012-05-06 15:41] abisiaux commented on #13
Le 06/05/2012 17:40, GUIHAL Maxime a écrit :

[2012-05-07 15:14] abisiaux commented on #13
Juconil, tu peux me dire ce que doit faire la fonction createDefault() de la classe ConfigFileManager ?

[2012-05-07 17:33] Jaconil commented on #13
Cette fonction est appelée si le fichier de configuration appelé n'existe pas. Elle crée alors un fichier minimal avec les valeurs par défaut des touches, des fenêtres, etc...

Remplis les valeurs pour les contrôleurs, j'éditerai cette fonction pour mettre les miennes ;)

[2012-05-16 20:43] #11 closed, assigned to Guillermicb

[2012-05-16 20:44] siwon opened #14 "Modification de la modélisation du moteur de jeu"
Je vais modifier la modélisation du moteur de jeu parce que ce sera beaucoup plus simple, et je ne vois pas ce qu'elle a de moins que celle proposée actuellement.

[2012-05-17 18:37] #14 closed, assigned to nobody

[2012-05-17 18:54] Jaconil opened #15 "Modification interface IConfigFile"
J'ai rajouté une méthode dans IConfigFile pour lister toutes les clés d'un fichier, car j'en ai besoin pour les skins finalement.
Je te laisse l'implémenter.

Il faudrait aussi déplacer le fichier de configuration principal de la racine vers /resources dans le ConfigFileManager.

[2012-05-17 19:29] abisiaux commented on #15
Le 17/05/2012 20:54, GUIHAL Maxime a écrit :

[2012-05-17 20:42] Jaconil opened #16 "[ConfigFile] Impossible de lire la dernière clé du fichier"
Quand on recherche la clé/valeur se trouvant sur la dernière ligne du fichier de configuration (sans nouvelle ligne), celle-ci n'est pas lue et est considérée comme inexistante.

[2012-05-17 22:20] Jaconil opened #17 "[ConfigFile] getStringValue() ne gère pas les espaces"
Tout est dans le titre ;)
Quand je mets dans un fichier de conf:

skin:Skin par défaut

le résultat est getStringValue("skin") = "Skin" et non "Skin par défaut".

[2012-05-17 23:37] Jaconil opened #18 "[ConfigFile] Remplissage par défaut"
Les fichiers de conf sont tous remplis avec les mêmes valeurs par défaut (contrôleurs, etc...) quelque soit le fichier de conf, alors que par exemple pour ceux des skins il devrait y avoir des valeurs différentes (voire un fichier vide).

[2012-05-18 08:15] abisiaux commented on #18
Le 18/05/2012 01:37, GUIHAL Maxime a écrit :

[2012-05-18 12:57] siwon opened #19 "SFML et 64bits ?"
La SFML 2.0 possède des parties uniquement en 32 bits ?

[2012-05-18 12:58] Jaconil commented on #19
Ah ?

[2012-05-18 12:58] Jaconil commented on #19
http://www.sfml-dev.org/download.php#2.0-rc

installe la bonne version ;)

[2012-05-18 13:07] siwon commented on #19
Ben justement ... : Mac OS X 32+64 bits - installer
Il doit y avoir des restes de 32 bits ...

[2012-05-18 14:10] siwon commented on #19
Du coup ça me fait quand meme de belles erreurs  :

Undefined symbols for architecture x86_64:
  "_main", referenced from:
      start in crt1.10.6.o
  "PolyBomber::Bonus::Bonus(PolyBomber::Bonus const&)", referenced from:
      __gnu_cxx::new_allocatorPolyBomber::Bonus::construct(PolyBomber::Bonus_, PolyBomber::Bonus const&)in ccyRFpfX.o
      void std::_Construct<PolyBomber::Bonus, PolyBomber::B

[2012-05-18 17:47] #19 closed, assigned to nobody

[2012-05-18 22:00] Jaconil opened #20 "[Controller] Erreur Bluetooth"
Depuis ton dernier commit (que j'ai pullé par erreur), mes compilations ne marchent plus...

Il me dit :
include/controller/wiic/wiic.h:50: fatal error: bluetooth/bluetooth.h: Aucun fichier ou dossier de ce type

[2012-05-18 22:41] abisiaux commented on #20
Le 19/05/2012 00:00, GUIHAL Maxime a écrit :

[2012-05-18 23:06] Jaconil commented on #20
OK, soit.
Par contre il me trouve une autre erreur dans CWii :

include/controller/Wiicpp.hpp:38: fatal error: wiic/dataset.h: Aucun fichier ou dossier de ce type

[2012-05-18 23:10] Jaconil commented on #20
OK, alors ça compile en commentant la ligne...

Par contre dans ton makefile tu as mis -lwiicpp
Chez moi il ne la reconnait pas, faut il installer quelque chose ??

[2012-05-19 07:20] abisiaux commented on #20
Le 19/05/2012 01:10, GUIHAL Maxime a écrit :

Pour le bluetooth juste à installer bluetooth avec un apt-get.

Et voilà tout devrait marcher, il y a pas de raison car chez moi c'est
nickel ! Par contre la wiimote est un peu moins réactive que le clavier,
on verra durant la phase de test avec le jeu.

[2012-05-19 09:18] siwon opened #21 "HHHAAAAAAAAAA !!!!!"
Bon, j'en peux plus !

Quand je compile mes fichiers 1 par 1, que des warnings pour variables non utilisés, par contre, dès que je fais un petit main, j'ai cette putain d'erreur de mes couilles :

Undefined symbols for architecture x86_64:
  "PolyBomber::GameEngineManager::GameEngineManager()", referenced from:
      _main in ccnHwd20.o
  "PolyBomber::GameEngineManager::~GameEngineManager()", refe

[2012-05-19 09:30] Jaconil commented on #20
Tu n'as pas oublié de livrer un fichier ?
Car apparemment libwiicpp.so a besoin de libwiic.so, que tu n'as pas fourni

[2012-05-19 09:41] Jaconil commented on #20
Ça compile ! J'ai réinstallé WiiC en téléchargeant depuis les sources ;)
Par contre erreur à l'exécution :
./PolyBomber: error while loading shared libraries: libwiicpp.so: cannot open shared object file: No such file or directory

[2012-05-19 10:32] siwon commented on #20
"Et voilà tout devrait marcher, il y a pas de raison car chez moi c'est
nickel ! Par contre la wiimote est un peu moins réactive que le clavier,
on verra durant la phase de test avec le jeu."

Tu es optimiste Bibiz ... parce que pour le moment on a rien étant donné que je n'avance pas à cause d'une #&$€\* d'erreur ...

[2012-05-19 10:36] Jaconil commented on #20
Eh, on a un menu !

[2012-05-19 10:41] siwon commented on #20
il doit me manquer les trucs de la wii parce que perso ça me met une erreur ...

[2012-05-19 10:43] Jaconil commented on #20
Ouais, faut que tu installes WiiC ;) bonne chance ^^

[2012-05-19 10:51] siwon commented on #20
Oui, je dois avouer que je suis en mode galère pour installer cette merde ... XD

[2012-05-19 13:22] siwon commented on #21
Bon ben devant l'aide apportée par chacun, je recommence tous mes fichiers à zéro... (on s'étonnera pas d'avoir encore plus de retard dans le projet )

[2012-05-19 15:14] siwon commented on #21
Bonne nouvelle ! Après avoir tout re-coder, l'erreur est toujours présente !!!

[2012-05-19 15:16] Jaconil commented on #21
g++ _.o -lsfml-window -lsfml-graphics -lsfml-system
gameEngine_Board.o: In function `PolyBomber::Board::~Board()':
Board.cpp:(.text+0xae0): undefined reference to`PolyBomber::Box::~Box()'
gameEngine_Board.o: In function `PolyBomber::Board::~Board()':
Board.cpp:(.text+0xdb6): undefined reference to`PolyBomber::Box::~Box()'
gameEngine_Board.o: In function `void std::_DestroyPolyBomber::Box(PolyBombe

[2012-05-19 16:30] abisiaux commented on #20
Le 19/05/2012 12:51, Puddi Puddi ! a écrit :

[2012-05-19 16:33] siwon commented on #20
je ne trouve pas le fichier libwiic.so perso ...

[2012-05-19 16:35] Jaconil commented on #20
oui oui il manque un fichier, c'est pour ça que je l'avais réinstallé ^^

[2012-05-19 16:41] Jaconil opened #22 "[Controller] Fenetre sans focus, mais touches tjrs actives"
Bibiz, t'as voulu utiliser la SFML, mais comment on fait maintenant pour gérer le focus de la fenêtre, parce que là, même si elle est pas active, les touches sont tjrs actives !

Et aussi, est-ce possible pour le menu de dire qu'une touche est active si elle est relachée ? Avec un tableau de booléens pour chacune des 7 touches, ça doit être possible, et ça faciliterait la navigation dans le menu..

[2012-05-19 17:23] abisiaux commented on #22
Le 19/05/2012 18:41, GUIHAL Maxime a écrit :

[2012-05-19 17:25] Jaconil commented on #22
Non, pas un tableau de booléens comme getKeysPressed, juste en interne pour toi pour savoir si on les relachait ou pas, mais si tu trouves un autre moyens, tant mieux ;)

[2012-05-19 17:27] abisiaux commented on #22
Le 19/05/2012 19:25, GUIHAL Maxime a écrit :

[2012-05-19 17:28] abisiaux commented on #22
Le 19/05/2012 19:25, GUIHAL Maxime a écrit :

[2012-05-19 17:30] Jaconil commented on #22
Lol, en gros on revient comme si c'était la SFML 1.6 :)

[2012-05-19 17:31] abisiaux commented on #22
Le 19/05/2012 19:30, GUIHAL Maxime a écrit :

[2012-05-19 17:32] Jaconil commented on #22
Je vais modifier l'interface pour rajouter une méthode void setWindow(sf::RenderWindow\* window); que j'appelerai dès que la fenêtre est créée. Dans ton manager, crée un attribut sf::RenderWindow\* initialisé à NULL. Et essaye de gérer tes fonctions en fonction que cet évènement est renseigné ou non

[2012-05-19 17:38] abisiaux commented on #22
Le 19/05/2012 19:32, GUIHAL Maxime a écrit :

[2012-05-19 17:40] Jaconil commented on #22
Dans mon code de menu je ralentissais déjà à un appui toutes les 200ms, mais normalement c'est pas à moi de faire ça ^^

[2012-05-19 17:42] abisiaux commented on #22
Le 19/05/2012 19:40, GUIHAL Maxime a écrit :

[2012-05-19 17:42] Jaconil commented on #22
avec un sf::sleep ;)

[2012-05-19 18:05] abisiaux commented on #22
Le 19/05/2012 19:32, GUIHAL Maxime a écrit :

[2012-05-19 18:06] Jaconil commented on #22
J'apporte un joystick :)

[2012-05-19 18:07] abisiaux commented on #22
Le 19/05/2012 19:42, GUIHAL Maxime a écrit :

[2012-05-19 18:08] Jaconil commented on #22
Ah c'est ptet moi -_-

[2012-05-19 18:10] abisiaux commented on #22
Le 19/05/2012 20:09, GUIHAL Maxime a écrit :

[2012-05-19 18:10] Jaconil commented on #22
c'est fait

[2012-05-19 18:17] Jaconil commented on #22
Euh ça marche pas ta modif j'ai l'impression... la fonction me renvoit tjrs MENU_NONE :/

[2012-05-19 18:19] Jaconil commented on #22
Attends, j'ai oublié de lier la fenêtre -_-

[2012-05-19 18:19] abisiaux commented on #22
Le 19/05/2012 20:17, GUIHAL Maxime a écrit :

[2012-05-19 18:30] Jaconil commented on #22
bon même après avoir lié la fenêtre ça n'a pas l'air de marcher :/

[2012-05-19 18:33] abisiaux commented on #22
Le 19/05/2012 20:30, GUIHAL Maxime a écrit :

[2012-05-19 18:34] abisiaux commented on #22
Le 19/05/2012 20:30, GUIHAL Maxime a écrit :

[2012-05-19 18:38] abisiaux commented on #22
Le 19/05/2012 20:30, GUIHAL Maxime a écrit :

[2012-05-19 18:38] abisiaux commented on #22
Le 19/05/2012 20:30, GUIHAL Maxime a écrit :

[2012-05-19 18:45] Jaconil commented on #22
Ouais non ça j'avais corrigé

[2012-05-19 18:49] abisiaux commented on #22
Le 19/05/2012 20:45, GUIHAL Maxime a écrit :

[2012-05-19 18:50] Jaconil commented on #22
OK c'est bon, erreur de boucle de ma part ;)

[2012-05-19 18:50] Jaconil commented on #22
Ouais j'ai pas pushé

[2012-05-19 18:51] abisiaux commented on #22
Le 19/05/2012 20:50, GUIHAL Maxime a écrit :

[2012-05-19 18:54] Jaconil commented on #22
Ouais, c'est nickel comme ça

[2012-05-19 18:59] abisiaux commented on #22
Le 19/05/2012 20:54, GUIHAL Maxime a écrit :

[2012-05-19 19:01] Jaconil commented on #22
Si t'as du temps tu pourras améliorer le skin hein :)

[2012-05-19 21:06] Jaconil opened #23 "Urgent : Fuite de mémoire Controller"
Depuis les derniers commits, le programme consomme énormément de mémoire dès qu'il demande les évènements clavier/wii, etc..

Donc il y a une fuite de mémoire dans ta partie Bibiz, à partir du moment où j'appelle la fonction getKeyPressed().

Bon courage pour la retrouver, mais faut absolument la supprimer, le programme est inutilisable en l'état là...

[2012-05-19 21:21] Jaconil commented on #23
En fait non, c'est de ma faute :)
Désolé.

Mais je ne vois pas comment corriger ;)

[2012-05-20 09:07] #23 closed, assigned to abisiaux

[2012-05-20 09:08] #15 closed, assigned to abisiaux

[2012-05-20 10:34] #22 closed, assigned to abisiaux

[2012-05-20 10:37] siwon opened #24 "fonction isPaused()"
Binome, on est d'accord, cette fonction renvoie 0 si le jeu n'est pas en pause et idJoueur+1 si le jeu est en pause non ?

[2012-05-20 10:53] siwon commented on #24
Bon, si ce n'est pas le cas, tu fera en sorte que ce le soit ;)

[2012-05-21 13:29] Guillermicb opened #25 "vector2<int>"
le SBoard contient un vecteur de boxes qui contient un vector2<int> et non pas vector2<float> ou encore vector2f
Un binome

[2012-05-21 17:57] siwon commented on #25
si tu es sage

[2012-05-22 09:36] Jaconil opened #26 "[Controller] Erreur de segmentation GamePad"
Quand je fais setPlayerController(P, GAMEPAD);
où P est [1,2,3,4]
et quand il n'y a pas de joysticks de branchés, il me met une erreur de segmentation.

Le problème ne se pose pas quand on met WII et qu'aucune Wii n'est branchée.

[2012-05-22 10:35] abisiaux commented on #26
Ça ne vient pas de moi car ça me lance une exception lorsque que je veux assigner un gamepad à un Zoueur alors qu'il n'y en a pas de branché. J'ai fait le test dans mon test_controller

[2012-05-22 11:20] Jaconil commented on #26
Ça ne vient pas de moi non plus ;) Ça marche nickel pour les autres, alors ça ne peut venir que de toi, dsl

[2012-05-22 11:22] abisiaux commented on #26
Le 22/05/2012 13:20, GUIHAL Maxime a écrit :

[2012-05-22 23:05] Jaconil opened #27 "[Controller] Touches utilisées 2 fois"
j'ai regardé ton code, quand on assigne une touche deux fois, ça rentre pas dans ton if...

[2012-05-22 23:06] #16 closed, assigned to abisiaux

[2012-05-22 23:06] #17 closed, assigned to abisiaux

[2012-05-22 23:06] #26 closed, assigned to abisiaux

[2012-05-25 11:09] #27 closed, assigned to abisiaux

[2012-05-25 15:41] #24 closed, assigned to Guillermicb

[2012-05-25 15:42] siwon commented on #25
C'est Puddi Puddi ;)

[2012-05-25 15:42] #25 closed, assigned to nobody

[2012-05-25 18:41] abisiaux opened #28 "Erreur de compilation"
Le fichier menu/SelectNameMenu.hpp est introuvable. Juconil peux-tu le rajouter pour que je puisse exécuter le programme stp. J'ai besoin de faire des captures d'écran du menu pour continuer le manuel d'utilisation.
Merci ;)

[2012-05-25 20:11] Jaconil commented on #28
Ah oui :-)

[2012-05-25 20:13] #28 closed, assigned to nobody

[2012-05-25 21:09] Jaconil opened #29 "Bibiz à l'aide"
En fait j'arrive pas à interfacer ta méthode getCharPressed() avec mon menu.
Je sais pas comment faire pour l'arrêter déjà.
Et quand je l'appelle je l'appelle en boucle là, mais du coup ça fait surchauffer le programme donc bon...

[2012-05-25 21:20] abisiaux commented on #29
Le 25/05/2012 23:09, GUIHAL Maxime a écrit :

[2012-05-25 23:02] Jaconil commented on #29
Ok c'est bon j'ai résolu en modifiant ton code. Je vais pusher

[2012-05-25 23:39] Jaconil commented on #29
Bon les majuscules ne fonctionnent pas et c'est normal. Ta fonction ne peut pas tester 2 touches en même temps...
Je l'ai un peu modifié pour prendre en compte les espaces et le backspace.
Un truc que tu pourrais faire si tu as le temps et si c'est possible ça serait de passer par les KeyReleased avec la window, ce qui te permettrait de récupérer la touche Maj...

[2012-05-26 08:50] Jaconil opened #30 "Brice les ennuis commencent, faut qu'on parle !"

[2012-05-26 08:52] Jaconil commented on #30
include/network/NetworkManager.hpp:34: note:   because the following virtual functions are pure within ‘PolyBomber::NetworkManager’:
include/INetworkToMenu.hpp:35: note:    virtual void PolyBomber::INetworkToMenu::setBookedSlots(unsigned int)
include/INetworkToMenu.hpp:40: note:    virtual void PolyBomber::INetworkToMenu::setPlayerName(std::string*)

Toi aussi tu modifies l'interface Brice ?
Je fa

[2012-05-26 10:13] abisiaux commented on #29
J'ai changé la fonction getCharPressed pour qu'elle marche en event donc ça gère les majuscules maintenant. Par contre c'est assez long la saisie du nom n'aurais tu pas mis un sleep dans ton code ?

[2012-05-26 10:14] Jaconil commented on #29
non j'ai mis aucun sleep

[2012-05-26 10:40] siwon commented on #20
Durant l'installation, le make me dit qu'il manque un fichier bluetooth/bluetooth.h, du coup ça fait une erreur ...

Il est supposé se trouver où ?

[2012-05-26 10:54] abisiaux commented on #20
Le 26/05/2012 12:40, Puddi Puddi ! a écrit :

[2012-05-26 11:06] siwon commented on #20
déjà fait ...

[2012-05-26 11:10] abisiaux commented on #20
Le 26/05/2012 13:06, Puddi Puddi ! a écrit :

[2012-05-26 11:12] siwon commented on #20
pas mieux (en plus elle était déjà installée ...)

[2012-05-26 11:47] Jaconil commented on #20
Non non libbluetooth3 ne fournit que les librairies binaires, pour les .h il faut installer libbluetooth-dev ;)
Bibiz j'espère que tu l'as bien marqué dans ton manuel d'installation !

[2012-05-26 11:49] siwon commented on #20
C'est bon ! (Ce n'était pas dans le manuel d'installation donc il faudra l'ajouter Bibizz, si tu veux que je le fasse dis-le !). Du coup, il reste le problème du réseau dont tu parlais dans une autre issue maxime ;)

Merci !

[2012-05-26 11:49] #20 closed, assigned to abisiaux

[2012-05-26 12:37] abisiaux commented on #20
Le 26/05/2012 13:49, Puddi Puddi ! a écrit :

[2012-05-26 12:39] siwon commented on #20
Il y a pas de problème tkt, c'est pour ça que j'ai tester l'installation en suivant ton manuel d'installation, pour pouvoir le corriger si nécessaire ;)

[2012-05-26 13:12] siwon opened #31 "[URGENT] Date soutenance"
J'ai envoyé un mail au prof, afin d'être sur des dates comme vous l'avez vu.
Comme vous l'avez aussi vu, il est dispo lundi aprem, mercredi et vendredi.

Pour le moment je lui ai dit que ce serait vendredi, parce que ça m'arrange perso mais ce n'est pas définitif. Donc êtes-vous d'accord avec le jour et si oui quelle heure vous conviendrait le mieux ? Si vous n'êtes pas d'accord avec la date, dite

[2012-05-26 13:17] abisiaux commented on #31
Le 26/05/2012 15:12, Puddi Puddi ! a écrit :

[2012-05-26 13:18] Jaconil commented on #31
idem, même si le projet devra être rendu vendredi prochain normalement...
Au pire on aura des beaux slides ^^

[2012-05-26 13:26] siwon commented on #31
"Nickel vendredi matin ça nous laisse le temps de bien finir le projet" => Bibiz, le projet aura déjà été rendu. Il faut qu'il soit terminé pour dimanche 3 Juin avant minuit comme dit dans le mail !

[2012-05-26 13:33] abisiaux commented on #31
Le 26/05/2012 15:26, Puddi Puddi ! a écrit :

[2012-05-26 13:35] siwon commented on #31
Ok, j'avais mal compris ;) My mistake ! (<= et ouais j'ai le TOEIC ! XD)

[2012-05-26 13:36] abisiaux commented on #31
Le 26/05/2012 15:35, Puddi Puddi ! a écrit :

[2012-05-26 13:41] siwon opened #32 "Un signe ?"
Erreur à la compilation :

Board.cpp:666: error: ‘xInitial’ was not declared in this scope
Board.cpp:666: error: ‘yInitial’ was not declared in this scope

[2012-05-26 13:43] abisiaux commented on #32
Le 26/05/2012 15:41, Puddi Puddi ! a écrit :

[2012-05-26 16:18] Jaconil opened #33 "©"
Enlève moi tt de suite ce truc commercial qui n'a rien à voir avec un projet scolaire...

[2012-05-26 16:26] abisiaux commented on #33
Le 26/05/2012 18:18, GUIHAL Maxime a écrit :

[2012-05-26 16:46] siwon commented on #33
Je crois qu'il parle des copyright que tu as ajouté

[2012-05-26 17:02] abisiaux commented on #33
Le 26/05/2012 18:46, Puddi Puddi ! a écrit :

[2012-05-26 17:05] Jaconil commented on #33
C'est pas que c'est pas scolaire, c'est juste que ça n'a rien à faire là : http://fr.wikipedia.org/wiki/Copyright ...
Déjà que notre projet n'est pas légal vis-à-vis des images qu'on utilise qui sont sous propriété de Hudson Soft, alors si en plus on commence à copyrighter le nom ou le programme....

Pourquoi pas le vendre non plus ? (dédicasse à Brice)

[2012-05-26 17:07] abisiaux commented on #33
D'ailleurs c'est ce qu'on a décidé avec stunt, faut qu'on fixe le prix.

[2012-05-26 17:07] siwon commented on #33
Faudrait vraiment être con pour vouloir le vendre ... Brice je ne pense pas que ce soit une bonne idée ... Un système de location avec un abonnement serait bien plus intelligent et pourrait nous rapporter beaucoup plus XD

[2012-05-26 17:10] abisiaux commented on #33
Pas con la location on va en parler à pica !

[2012-05-26 17:12] siwon commented on #33
Ben oui parce qu'il devra payer pour pouvoir le tester donc va falloir le prévenir ...

[2012-05-26 17:14] abisiaux commented on #33
Je pense qu'on va lui faire tester la démo (avec juste le menu) puis
s'il en veut plus faudra sortir les pépettes!

[2012-05-26 17:15] siwon commented on #33
Ouais pas bete, comme ça on créé la dépendance, et après on fait payer !

[2012-05-26 17:31] Jaconil opened #34 "[Controller] On peut pas saisir de point"
On peut pas saisir le caractère . pour les adresses IP, c'est plutôt embêtant ^^

[2012-05-26 17:32] abisiaux commented on #34
Le 26/05/2012 19:31, GUIHAL Maxime a écrit :

[2012-05-26 17:36] #29 closed, assigned to abisiaux

[2012-05-26 17:36] abisiaux commented on #34
Voilà c'est fait !

[2012-05-26 17:37] #34 closed, assigned to abisiaux

[2012-05-26 20:52] #32 closed, assigned to nobody

[2012-05-26 22:35] siwon opened #35 "SFML et manuel d'installation"
Je suis partit d'une installation pratiquement vierge de Ubuntu et je suivis ton manuel d'installation mais je n'arrive pas à compiler le projet. Il me dit des messages du type :
...
WaitingMenu.cpp:(.text+0x2fa): undefined reference to `sf::Text::setColor(sf::Color const&)'
...
Etant donné que j'ai installé SFML 2.0 je ne comprend pas trop pourquoi il ne trouve pas ces fichiers ...  une idée ?

[2012-05-26 22:36] Jaconil commented on #35
Oui oui, refais un pull et recommence, c'est pas une erreur d'installation, mais de linkage dû à moi sûrement.

[2012-05-27 07:20] siwon commented on #35
Je pense quand meme qu'il manque des étapes ... Je me demande si il ne faut pas installer la SFML 1.6 puis la SFML 2.0

[2012-05-27 08:04] Jaconil commented on #35
Non, au contraire ça génèrera des conflits

[2012-05-27 08:11] siwon commented on #35
Ok

[2012-05-27 10:05] siwon commented on #35
Je viens de faire un fichier install.sh afin de normalement tout installer pour que tout puisse fonctionner.

Par contre, faut faire attention à ne pas pusher après avoir tout installé parce que je crois que ça créé pas mal de fichiers ... Faut que je vérifie tout ça !

[2012-05-27 10:25] abisiaux commented on #35
Je ne pense pas qu'il faille installer wiic car les librairies sont déjà
dans le dossier lib et dans le makefile j'ai précisé le répertoire où
les chercher. Il n'y a rien à faire normalement pour la wii. Sinon pour
la sfml 2.0, juconil ne voulait pas la mettre dans le projet...

[2012-05-27 10:27] abisiaux commented on #35
ok pour la sfml j'avais pas vu qu'elle était déjà sur github sinon pour
wiic enlève tout ça mets juste libwiic.so et libwiicpp.so ça ne sert à
rien de les faire générer.

[2012-05-27 10:32] siwon commented on #35
Justement, il faut les faire générer ! Quand je prenais les tiennes, il me mettait que le type était incompatible, du coup ça ne compilait pas ...

C'est pour ça que je les regénère ;)

[2012-05-27 10:36] abisiaux commented on #35
Je savais pas je pensais que la librairie était portable sur tout linux
sans avoir à la régénérer. Du coup faut reprendre le manuel d'installation.

[2012-05-27 10:39] siwon commented on #35
ouaip désolé pour le boulot supplémentaire ... Par contre, je pense que le ./install.sh on peut le mettre dans le makefile ... avec un truc genre make install

Après je connais rien au makefile ...

[2012-05-27 10:39] abisiaux commented on #35
Je le reprends n'y touche pas stp pour l'instant ;-)

[2012-05-27 10:40] abisiaux commented on #35
oui on peut je m'en occupe

[2012-05-27 10:41] siwon commented on #35
Ok !

[2012-05-27 11:05] siwon opened #36 "wiic/wiic.h"
A la compilation :

include/controller/Wiicpp.hpp:37:23: error: wiic/wiic.h: Aucun fichier ou dossier de ce type

[2012-05-27 11:11] abisiaux commented on #36
Lol maxime a voulu tout supprimer du dossier d'include et bah voilà ça
fait de la merde maintenant !

Sinon j'ai continué le manuel d'install, le delete.sh c'est pour
supprimer les fichiers produits par l'installation de la sfml ?

[2012-05-27 11:19] siwon commented on #36
Peut-être que les librairies que tu inclus sont dans le XiiC que j'ai ajouté, (même surement) donc fait le lien ...

Sinon, le delete.sh, oui mais c'est un test plutôt un test pour le moment, si ça fonctionne bien, je l’intégrerais au install.sh ;)

[2012-05-27 11:25] abisiaux commented on #36
Ok tu feras appel au delete.sh dans le install.sh donc pour le manuel
c'est ok ?
J'ai corrigé le lien de la librairie mais je peux pas voir si ça marche
car ça ne compile pas du tout chez moi il manque des fichiers.

[2012-05-27 11:29] siwon commented on #36
qu'est ce qui ne compile pas ?

Et perso, je pense qu'il vaudrait mieux faire une commande :
make install
pour lancer l'installation de toutes les librairies et genre le "make install" lance le "./install.sh"

[2012-05-27 11:31] abisiaux commented on #36
J'ai regardé pour le make install je pense pas que ça soit
possible...tant pis

[2012-05-27 11:32] siwon commented on #36
Pas grave ... peut-être que maxime saura faire ...

Sinon c'est quoi les fichiers qu'il te manque ?

[2012-05-27 11:35] abisiaux commented on #36
Nan c'est pas des fichiers c'est une erreur de compilation :
     NetworkManager.cpp l621 : cannot call constructor
sf::IpAddress::IpAddress
après le reste c'est juste des warnings!

[2012-05-27 13:47] #36 closed, assigned to abisiaux

[2012-05-27 13:47] #35 closed, assigned to abisiaux

[2012-05-27 13:47] #33 closed, assigned to abisiaux

[2012-05-27 13:48] #21 closed, assigned to nobody

[2012-05-27 13:48] #18 closed, assigned to abisiaux

[2012-05-27 13:48] siwon commented on #31
Brice tu nous donnera ton avis aussi ;)

[2012-05-27 21:07] Jaconil commented on #31
Brice m'a dit qu'il était totalement ok pour cette date.

[2012-05-27 21:07] #31 closed, assigned to nobody

[2012-05-27 22:57] siwon opened #37 "erreur compilation network"
Binome, lors de la compilation, j'ai une erreur que maxime n'a pas :

[code]

Quand je met un cast (int), ça résout les problèmes, mais du coup, si on le rajoute, est-ce que ça va pas poser des problèmes plus tard ?

[2012-05-27 23:38] #30 closed, assigned to Guillermicb

[2012-05-28 09:49] Guillermicb commented on #37
Oui je rajoute un cast int sur tous mes fonctions de vector.size puisqu'il retourne un unsigned int. Le problème ici doit venir d'une machine 64bits à mon avis puisque ça ne pause pas de problème sur les autres ordinateurs

[2012-05-28 10:16] siwon commented on #37
C'est possible ... je dois avouer que je n'ai pas testé sur mon mac (qui est aussi en 64bits) ...

@Jaconil : tu tournes pas en 64 bits ?

[2012-05-28 10:17] Jaconil commented on #37
non

[2012-05-28 10:18] siwon commented on #37
Bon ben ça doit venir de là ...

[2012-05-28 10:30] #37 closed, assigned to Guillermicb

[2012-05-28 10:53] siwon commented on #37
Après un test, même erreur sur mac ;)

[2012-05-28 11:41] siwon opened #38 "Erreur de segmentation <3"
Cadeau Bibiz ! Tout fonctionnait jusqu'à ce petit message au chargement :

[code]

Librairies installées, compilation sans erreur.

[2012-05-28 12:01] siwon commented on #38
Correction : Il doit me manquer la librairie bluetooth ... Désolé

[2012-05-28 12:01] #38 closed, assigned to abisiaux

[2012-05-31 17:01] Jaconil opened #39 "[Controller] Multitouches"
Pendant une partie, lorsque le joueur 1 appuie sur une touche, le joueur 2 ne peut pas appuyer sur une autre touche.
En gros, tu gères pas les multi touches pendant la partie...

[2012-05-31 17:05] abisiaux commented on #39
Le 31/05/2012 19:01, GUIHAL Maxime a écrit :

[2012-05-31 17:09] abisiaux commented on #39
push stp que j'essaie de résoudre ça

[2012-05-31 17:24] abisiaux commented on #39
Putain je viens de faire avec les events c'est toujours pareil ça gère
pas le multitouches !!!

[2012-05-31 17:33] abisiaux commented on #39
Je pense avoir trouver :

void sf::Window::setKeyRepeatEnabled    (   bool    /enabled/   )

Enable or disable automatic key-repeat.

If key repeat is enabled, you will receive repeated KeyPressed events
while keeping a key pressed. If it is disabled, you will only get a
single event when the key is pressed.

Key repeat is enabled by default.

_Parameters:_
    enabled     True to enable, false to

[2012-05-31 17:35] Jaconil commented on #39
ça doit être ça

[2012-05-31 17:39] abisiaux commented on #39
Le 31/05/2012 19:35, GUIHAL Maxime a écrit :

[2012-05-31 18:43] abisiaux commented on #39
Je pense avoir réglé le soucis, je met au propre car du coup c'est le
bordel et je push!

[2012-05-31 20:04] abisiaux opened #40 "Déplacement perso"
Je viens de tester les contrôleurs pour déplacer les persos :

Clavier => No Problem
Joystick => No Problem
Wiimote => probleme ! C'est très lent vous avez du mettre un sleep trop élevée dans la boucle de jeu, moi j'avais mis 5ms dans le menu pour pas que ça affecte de trop la wiimote si vous pouvez faire pareil.

Sinon pour le multi touches ça marche très bien maintenant c'est formidable !

Et su

[2012-05-31 20:07] abisiaux commented on #40
c'est bon j'ai trouvé c'est dans gameenginemanager.cpp l235 en changeant 50 par 5 nickel!

[2012-05-31 20:15] Jaconil commented on #40
On s'en fout de ta Wii, t'avais qu'à venir avec nous débugguer le moteur de jeu cet aprem !!

[2012-05-31 20:17] abisiaux commented on #40
Merci c'est sympa en tout cas cet aprem j'ai pas glander non plus !

[2012-05-31 20:24] #39 closed, assigned to abisiaux

[2012-05-31 20:24] #40 closed, assigned to nobody

[2012-05-31 20:33] Jaconil opened #41 "[Bibiz] Flamme centrale"
T'as oublié de fournir une image pour l'origine des flammes ^^

Sinon j'ai pas compris la différence entre :
- flame_begin_horizontal.png
- flame_middle_horizontal.png

[2012-05-31 20:52] abisiaux commented on #41
J'ai repris l'image que Simon m'a dit de prendre dans le dossier test.
flamme_begin est un poil plus petite que flamme middle et l'origine des
flammes c'était flamme begin comme sur l'exemple. On peut mettre aussi
comme origine la même image que celle de la fin.

Sinon c'était pas une raison de m'envoyer chier tout à l'heure, je pense
que je me suis quand même investi dans ce projet. Aujourd'hui j

[2012-05-31 21:00] Jaconil commented on #41
Désolé pour tout à l'heure, on est tous un peu sur les nerfs en ce moment tu sais... Et j'ai pas dit que tu t'investissais pas, au contraire, t'as refais tout le skin et tout et c'est vraiment pas mal...

Pour l'origine en fait, j'entendais par là l'image des flammes à une intersection (en gros toute la case en flamme, pour que ça se raccorde aux autres)

[2012-06-01 07:52] siwon opened #42 "icones"
J'ai mis les icones sur dropbox

[2012-06-02 10:01] siwon opened #43 "Commande à faire en C007"
[code]

[2012-06-02 17:16] #42 closed, assigned to nobody

[2012-06-02 17:16] #41 closed, assigned to abisiaux

[2012-06-02 17:20] #43 closed, assigned to nobody

[2012-06-03 08:51] siwon opened #44 "URGENT"
Il faut supprimer tous les messages d'affichage que vous avez fait dans vos fichiers !!! On ne peut pas rendre le projet comme ça !

[2012-06-03 09:21] siwon commented on #44
En fait, vous les avez presque tous foutus dans ma partie quoi ... XD

[2012-06-03 09:32] siwon commented on #44
Il en reste quelques-uns quand même surement dans ta partie juconil

[2012-06-03 10:56] Jaconil commented on #44
Oui oui tkt pas j'allais le faire cet après-midi, j'ai pas fini de nettoyer mon code, ni de le commenter

[2012-06-03 13:54] Jaconil commented on #44
Garde-ton le répertoire tests ??

[2012-06-03 13:58] siwon commented on #44
Ben le supprime pas, mais on est pas obligé de le rendre au prof.

[2012-06-03 14:08] Jaconil opened #45 "Manuel d'installation"
Du coup si on ne rend pas les libs SFML au prof, ne faudrait-il pas changer un peu le manuel d'installation ?

[2012-06-03 14:31] Jaconil opened #46 "fichier de conf"
Bibiz,
Brice est en train de tester le programme, et à chaque erreur de segmentation, ton fichier est vidé,
Y a vraiment pas moyen que tu écrives au fur et à mesure dedans, plutot qu'à la fin ?

Car là du coup c'est chiant...

[2012-06-03 14:51] abisiaux commented on #46
Je suis pas chez moi dsl ça doit être dans close file dans configfilemanager car je le recouvre en écrasant l'ancien donc faudrait juste le rouvrir en ajout. Si tu peux le faire stp car là je peux vraiment pas j'ai rien pour le faire dsl.

Envoyé depuis un mobile Samsung

GUIHAL Maxime reply@reply.github.com a écrit :

Bibiz,
Brice est en train de tester le programme, et à chaque erreur de segment

[2012-06-03 14:59] Jaconil commented on #46
OK OK pas de prob

[2012-06-03 15:00] siwon commented on #45
Ben on rend la SFML alors ...

Je ne me vois pas mettre dans un programme qu'il faut télécharger et installer à la main des fonctionnalités

[2012-06-03 23:48] Jaconil opened #47 "Prix de vente du programme"
Totals grouped lines by language (dominant language first):
cpp:           8970 (97.12%)
sh:             266 (2.88%)

Total Physical Source Lines of Code (SLOC)                = 9,236
Schedule Estimate, Years (Months)                         = 0.71 (8.47)
Total Estimated Cost to Develop                           = $ 278,869

C'est bon les gars, on peut le vendre à 279$ notre Bomberman !!

[2012-06-03 23:51] Guillermicb commented on #47
Du moment que total débit = total crédit ça me va

[2012-06-04 06:24] siwon commented on #47
Ben vu les conneries qu'on a débité, il va falloir augmenter le total crédit !

[2012-06-04 06:28] siwon opened #48 "Fichier uploadé"
J'ai téléchargé hier soir le fichier que vous avez mis sur madoc, et voilà le readme :

[code]

Il y a pas un truc qui vous choc ?

[2012-06-04 06:36] abisiaux commented on #48
Le 04/06/2012 08:28, Puddi Puddi ! a écrit :

[2012-06-04 06:42] siwon commented on #48
Bien joué bibiz ! XD

[2012-06-04 15:45] siwon opened #49 "Soutenance"
J'ai parlé au prof tout à l'heure, il m'a dit que la soutenance durerait environ 1/4 d'heure et qu'il fallait que je réserve une salle. C'est chose faite. La salle C008 est réservée pour le créneau 10h-11h et les tests se feront dans la salle C007.

Voilà.

Signé Puddi Puddi

[2012-06-06 15:29] siwon opened #50 "Full screen mac =)"
https://github.com/LaurentGomila/SFML/commit/82be3227312b6ed3bfea331a55be56c0081bb011

[2012-06-08 15:23] #50 closed, assigned to nobody

[2012-06-08 15:23] #49 closed, assigned to nobody

[2012-06-08 15:24] #48 closed, assigned to nobody

[2012-06-08 15:24] #46 closed, assigned to nobody

[2012-06-08 15:24] #47 closed, assigned to nobody

[2012-06-08 15:24] #45 closed, assigned to nobody

[2012-06-08 15:24] #10 closed, assigned to nobody

[2012-06-08 15:24] #44 closed, assigned to nobody

[2012-06-27 17:06] siwon opened #51 "Puddi Puddi"
Tout est dans le titre ...

[2012-06-27 17:28] 64q commented on #51
Puddi !

[2012-06-27 17:32] siwon commented on #51
Je suis content de voir que le message est compris ;)

[2012-06-30 13:21] Jaconil commented on #51
Faut vraiment que je remette en route mon lecteur de flux RSS sur Github...

[2012-06-30 15:40] siwon commented on #51
C'est sur que ce serait dommage de rater des issues pareilles ;)

[2013-11-09 13:42] Jaconil commented on #51
Je conteste la fermeture de cette issue, l'anomalie Puddi Puddi est toujours présente chez toi @siwon...

[2013-11-09 13:43] siwon commented on #51
-__-

[2020-06-19 19:31] #51 closed, assigned to siwon